body {
    background-color:#d9eed3       ; /* Set the background color you prefer */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding: 100px;
}


h1 {
    font-size: 36px;
    color: #000000; /* Set the text color you prefer */
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}
h2 {
    font-size: 36px;
    color: #000000; /* Set the text color you prefer */
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

.social-buttons {
    margin-top: 40px;
}

.social-buttons a {
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    color: #c9101050; /* Set the text color you prefer */
    background-color: rgba(233, 240, 234, 0.897);
    padding: 10px 20px;
    border-radius: 50%;
}

.social-buttons a i.fab.fa-linkedin {
    font-size: 24px;
    margin: 0 5px;
    text-decoration: none;
    color: #ffffff; /* Set the text color you prefer */
    background-color: rgba(44, 11, 233, 0.5);
    padding: 10px 20px;
    border-radius: 50%;
}

.social-buttons a i.fab.fa-instagram {
    font-size: 24px;
    margin: 0 5px;
    text-decoration: none;
    color: #d426a0; /* Set the text color you prefer */
    background-color: rgba(255, 0, 212, 0.5); /* Customize the background color */
    padding: 10px 20px;
    border-radius: 80%;
}
.social-buttons a i.fab.fa-whatsapp {
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    color: #0af832; /* Set the text color you prefer */
    background-color: rgba(241, 241, 241, 0.5); /* Customize the background color */
    padding: 10px 20px;
    border-radius: 50%;
}

.social-buttons a i.fab.fa-facebook {
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    color: #0a8fe7; /* Set the text color you prefer */
    background-color: #ffffff(59, 89, 152, 0.5); /* Customize the background color */
    padding: 10px 20px;
    border-radius: 50%;
}
.social-buttons a i.fas.fa-envelope {
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    color: #d11975; /* Set the text color you prefer */
    background-color: #ffffff(255, 165, 0, 0.5); /* Customize the background color */
    padding: 10px 20px;
    border-radius: 50%;
}
