/* Default styles for larger screens */
body {
    background-color: #74d9f8;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding: 100px;
}

h1, h2, p {
    color: #000000;
}

h1, h2 {
    font-size: 36px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

.social-buttons {
    margin-top: 40px;
}

.social-buttons a {
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    color: #c9101050;
    background-color: rgba(233, 240, 234, 0.897);
    padding: 10px 20px;
    border-radius: 50%;
}

.social-buttons a i.fab.fa-linkedin,
.social-buttons a i.fab.fa-instagram,
.social-buttons a i.fab.fa-whatsapp,
.social-buttons a i.fab.fa-facebook,
.social-buttons a i.fas.fa-envelope {
    font-size: 24px;
    margin: 0 5px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50%;
}

#introduction, #education, #hobbies, #passions {
    margin-top: 40px;
}

#introduction p, #education p, #hobbies ul, #passions p {
    font-size: 18px;
}

#hobbies ul {
    list-style: none;
    padding: 0;
}

#hobbies li {
    margin-bottom: 10px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    .container {
        padding: 20px; /* Adjust padding for smaller screens */
    }

    h1, h2 {
        font-size: 24px;
    }

    .social-buttons a {
        font-size: 18px;
        padding: 8px 16px; /* Adjust padding for smaller screens */
    }

    #introduction, #education, #hobbies, #passions {
        margin-top: 20px;
    }

    #introduction p, #education p, #hobbies ul, #passions p {
        font-size: 16px;
    }
}
